
<div class="container section" id="students" style="padding-top:15px;">
  <% if current_user.admin? %>
  <%= link_to(new_user_path(@user), class:"tags") do  %>
    <div class=""></div> 新增
    <% end %>
  <% end %>
<% @users.group_by(&:status).each do |status, users| %>
  <div class="clients-list">
    <ul class="nav nav-tabs">
      <!-- <span class="pull-right small text-muted"><%#= User.all.count%> Elements</span> -->
      <li class="rounded active">
        <a data-toggle="tab" href="#tab-<%=status%>-0">
          <i class="fa fa-user"></i>
          博班</a>
      </li>
      <li class="rounded ">
        <a data-toggle="tab" href="#tab-<%=status%>-1">
          <i class="fa fa-user"></i>
          EDBA</a>
      </li>
      <li class="rounded ">
        <a data-toggle="tab" href="#tab-<%=status%>-2">
          <i class="fa fa-user"></i>
          EMBA</a>
      </li>
      <li class="rounded ">
        <a data-toggle="tab" href="#tab-<%=status%>-3">
          <i class="fa fa-user"></i>
          碩士班</a>
      </li>
      <li class="rounded ">
        <a data-toggle="tab" href="#tab-<%=status%>-4">
          <i class="fa fa-user"></i>
          專題生</a>
      </li>
    </ul>
    <div class="tab-content" style="padding-top:15px;">
      <% users.group_by(&:user_type).each do |type, users_bytype| %>
        <div id="tab-<%=status%>-<%= type %>" class="tab-pane <%= "active" if type==0 %> ">
          <div class="full-height-scroll">
            <div class="table-responsive">
              <table class="table table-striped table-hover">
                <thead>
                  <tr>
                    <th>級別</th>
                    <th>姓名</th>
                    <th>研究主題</th>
                    <th>聯絡方式</th>
                    <th>狀態</th>
                    <% if current_user.admin? %>
                    <th>編輯</th>
                    <% end %>

                  </tr>
                </thead>
                <tbody>
                  <% for user in users_bytype %>
                  <tr>
                    <tr>
                      <td><%= user.degree rescue "" %></td>
                      <td><%= user.name %></td>
                      <td><%= user.research_topic rescue "" %></td>
                      <td>  <i class="fa fa-envelope"></i> <%= user.email %></td>
                      <td>已畢業</td>
                      <% if current_user.admin? %>
                      <td>
                        編輯
                      </td>
                      <% end %>
                    </tr>
                  </tr>
                  <% end %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      <% end %>
    </div>

  </div>


<% end %>
</div>
