
<div class="container section" id="students" style="padding-top:15px;">


          <%= form_for @student, url: {action: "update"} do |f| %>
            <div class="field">
              <%= f.label :name %><br />
              <%= f.text_field :name, autofocus: true %>
            </div>
            <div class="field">
              <%= f.label :email %><br />
              <%= f.text_field :email, autofocus: true %>
            </div>
            <div class="field">
              <%= f.label :degree %><br />
              <%= f.text_field :degree, autofocus: true %>
            </div>
            <div class="field">
              <%= f.label :research_topic %><br />
              <%= f.text_field :research_topic, autofocus: true %>
            </div>
            <div class="field">
              <%= f.label :status %><br />
              <%= f.select :status, options_for_select(Student.statuses.keys, @student.status)%>
              <%#= f.status_field :status, autofocus: true %>
            </div>
            <div class="field">
              <%= f.label :s_type %><br />
              <%= f.select :s_type, options_for_select(Student.s_types.keys, @student.s_type) %>
            </div>
            <div class="field">
              <%= f.label :graduated_num, "畢業編號" %><br />
              <%= f.text_field :graduated_num %>
            </div>


            <div class="actions">
              <%= f.submit "update" %>
            </div>
          <% end %>
</div>
